{% extends "recipes/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <h3 class="new-recipe">New recipe</h3>
    <form id="form-container" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    {{ recipe_form.title|as_crispy_field }}
                    {{ recipe_form.category|as_crispy_field }} 
                    {{ recipe_form.photo|as_crispy_field}}
                    {{ recipe_form.time|as_crispy_field }}
                </div>
                <div class="col-md-12 col-lg-4">
                    <legend>Recipe Ingredients</legend>
                    <div id="container-ingredient-formset">
                        {{ ingredient_form.management_form }}
                        {% for form in ingredient_form %}
                            <div class="ingredient-form">
                                {{ form.ingredient|as_crispy_field }}
                                {{ form.amount|as_crispy_field }}
                                {{ form.measurement|as_crispy_field}}
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="buttons">
                        <button id="add-ingredient-form" type="button">Add Ingredient</button>
                        <button id="remove-ingredient-form" type="button">Remove Ingredient</button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <legend>Recipe Instructions</legend>
                    <div id="container-instruction-formset">
                        {{ instruction_form.management_form }}
                        {% for form in instruction_form %}
                            <div class="instruction-form">
                                {{ form.step|as_crispy_field }}
                                {{ form.time|as_crispy_field}}   
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="buttons">
                        <button id="add-instruction-form" type="button">Add Instruction</button>
                        <button id="remove-instruction-form" type="button">Remove Instruction</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Publish recipe" class="submit" />
        </form>
{% endblock %}

{% block script %}
    <script src="{% static 'recipes/form.js' %}"></script>
{% endblock %}