{% extends "recipes/layout.html" %}
{% load static %}

{% block body %}
    <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
            <div class="card mb-4" style="max-width: 700px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ recipe.photo.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="recipe-detail">{{ recipe.title }}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.category }}</h6>
                            <p class="card-text">Cooking time: {{ recipe.time }}</p>
                            <p class="card-text"><small class="text-muted">{{ recipe.published_date }}</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="recipe-detail">Recipe Ingredients:</a>
                            </h5>
                            {% for ingredient in recipe.recipe_ingredients.all %}
                                <p class="card-text"> - {{ ingredient.amount }} {{ ingredient.measurement }} {{ ingredient.ingredient }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">
                        <a class="recipe-detail">Recipe Instructions:</a>
                    </h5>
                    {% for instruction in recipe.recipe_instructions.all %}
                        <p class="card-text"> - {{ instruction.step }} {{ instruction.time }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
{% endblock %}